= simple_form_for @chef_account do |form|
  %table
    -if @chef_account.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@chef_account.errors.count, "error")} prohibited this #{ChefAccount.name.titleize} from being saved:"
        %ul
          - @chef_account.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td.tblshowbold Name
      %td= form.input :name, :label => false
    %tr.trstripeshow
      %td.tblshowbold * Client Name
      %td= form.input :client_name, :label => false
    %tr.trstripeshow
      %td.tblshowbold * Validator Key
      %td= form.input :validator_key, :label => false
    %tr.trstripeshow
      %td.tblshowbold * Client Key
      %td= form.input :client_key, :label => false
    %tr.trstripeshow
      %td.tblshowbold Databag Key
      %td= form.input :databag_key, :label => false
    %tr.trstripeshow
      %td.tblshowbold * API URL
      %td= form.input :api_url, :label => false
    %tr.trstripeshow
      %td.tblshowbold{:colspan => "2"}
        .actions
          = form.button :submit
