= simple_form_for @chef_account do |form|
  %table
    -if @chef_account.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@chef_account.errors.count, "error")} prohibited this #{ChefAccount.name.titleize} from being saved:"
        %ul
          - @chef_account.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td= form.input :name, :label => "Name",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :client_name, :label => "Client Name",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :validator_key, :label => "Validator Key",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :client_key, :label => "Client Key",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :databag_key, :label => "Databag Key",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :api_url, :label => "Api Url",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td.tblshowbold
        .actions
          = form.button :submit
