%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to('Back', "javascript:history.go(-1)", :class => "button") 
        = link_to 'Edit', edit_chef_account_path(@chef_account), :class => "button" 
        = link_to 'Destroy', @chef_account, :confirm => 'Are you sure?', :method => :delete, :class => "button" 

%fieldset.fieldset/

%legend.legend Customer View

%table#tblshow
  
  -if notice
    %tr.trstripeshow
      %td{:colspan => "2"}= notice
  %tr.trstripeshow
    %td.tblshowbold Name:
    %td= @chef_account.name
  %tr.trstripeshow   
    %td.tblshowbold Client Name:
    %td= @chef_account.client_name 
  %tr.trstripeshow   
    %td.tblshowbold Validator Key:
    %td= @chef_account.validator_key
  %tr.trstripeshow   
    %td.tblshowbold Client Key:
    %td= @chef_account.client_key
  %tr.trstripeshow   
    %td.tblshowbold Databag Key:
    %td= @chef_account.databag_key
  %tr.trstripeshow   
    %td.tblshowbold Api URL:
    %td= @chef_account.api_url
