
%div#maindiv


%fieldset.fieldset/

%legend.legend= resource_name.to_s.humanize

%table{:bgcolor => "#f5f5f", :width => "100%", :cellpaddng => "4", :cellspacing => "1", :border => "0"}
  %tr
    %td
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |form|
        %table
          %tr
            %td * Email
            %td= form.input :email, :label => false, :required => false, :autofocus => true
          %tr
            %td * Password
            %td= :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :label => false
          %tr
            %td * Password Confirmation
            %td= form.input :password_confirmation, :required => true,  :label => false
          %tr
            %td * Current Password
            %td= form.input :current_password, :hint => "we need your current password to confirm your changes", :required => true, :label => false
          
          %tr
            %td{:colspan => "2"}
              .actions
                = form.button :submit, "Sign in"

=link_to "Back", :back
