%h1 Listing databases

%table
  %tr
    %th Name
    %th Db name
    %th Username
    %th Type
    %th Instance class
    %th allocated_storage
    %th Multi az
    %th Availability zone
    %th Engine version
    %th
    %th
    %th

  - @databases.each do |database|
    %tr
      %td= link_to database.name, database
      %td= database.db_name
      %td= database.master_username
      %td= database.engine
      %td= database.flavor_id
      %td= database.allocated_storage
      %td= database.multi_az
      %td= database.availability_zone
      %td= database.engine_version

%br

= link_to 'New Database', new_database_client_path
