%p#notice= notice

%p
  %b Name:
  = @database.name
%p
  %b Is it in AGI?:
  = link_to_if find_database_in_agi(@database.name), find_database_in_agi(@database.name) ? "Agi Conf" : "NO", find_database_in_agi(@database.name)
%p
  %b State:
  = @database.state
%p
  %b Db name:
  = @database.db_name
%p
  %b Username:
  = @database.master_username
%p
  %b Hostname:
  = @database.endpoint.attributes["Address"]
%p
  %b Type:
  = @database.engine
%p
  %b Instance class:
  = @database.flavor_id
%p
  %b Instance storage:
  = @database.allocated_storage
%p
  %b Multi az:
  = @database.multi_az
%p
  %b Availability zone:
  = @database.availability_zone
%p
  %b Engine version:
  = @database.engine_version
%p
  %b Pending Modified Values Hash:
  = @database.pending_modified_values.attributes

= link_to 'RDS Instances', database_clients_path
\|
= link_to_unless find_database_in_agi(@database.name), 'Shutdown', @database, :confirm => 'This RDS instance will be shutdown, Are you sure?', :method => :delete
\|
= link_to_if find_database_in_agi(@database.name), 'Stop', stop_database_path(find_database_in_agi(@database.name))

