= simple_form_for [@customizable,@customization] do |form|
  %table
    -if @customization.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@customization.errors.count, "error")} prohibited this #{Customization.name.titleize} from being saved:"
        %ul
          - @customization.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td= form.input :name, :label => "Name", :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :value, :label => "Value", :label_html => { :class => 'label_class' }
    -#%tr.trstripeshow
      -#%td= form.input :location, :label => "Location", label_html => { :class => 'label_class' }
    -#%tr.trstripeshow
      -#%td= form.input :prompt_on_deploy, :label => "Prompt On Deploy", label_html => { :class => 'label_class' }
    
    %tr.trstripeshow
      %td.tblshowbold
        .actions
          = form.button :submit
