= simple_form_for [@customizable,@customization] do |form|

  -if @customization.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@customization.errors.count, "error")} prohibited this #{Customization.name.titleize} from being saved:"
      %ul
        - @customization.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :name, :label => 'Name'
  = form.input :location, :label => 'Location'
  = form.input :value, :label => 'Value'
  = form.input :prompt_on_deploy, :label => 'Prompt On Deploy'

  .actions
    = form.button :submit