%h1 Listing customizations

%table
  %tr
    %th Name
    %th Location
    %th Value
    %th Prompt on deploy
    %th Customizable
    %th Customizable type
    %th
    %th
    %th

  - @customizations.each do |customization|
    %tr
      %td= link_to customization.name, [@customizable, customization]
      %td= customization.location
      %td= customization.value
      %td= customization.prompt_on_deploy
      %td= customization.customizable_id
      %td= customization.customizable_type
      %td= link_to 'Edit', [:edit, @customizable, customization]
      %td= link_to 'Destroy', [@customizable, customization], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Customization', [:new, @customizable, :customization]
