%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to('Back', "javascript:history.go(-1)", :class => "button") 
        = link_to 'New Customization', [:new, @customizable, :customization], :class => "button" 


%fieldset.fieldset/

%legend.legend Customizations Listing

%table#tblmain
  %tr.trbg
    %td.fontbold Name
    %td.fontbold Location
    %td.fontbold Value
    %td.fontbold Prompt On Deploy
    %td.fontbold Customizable
    %td.fontbold Customizable Type
    %td.fontbold{:colspan => "2"} Action
    
  
  - @customizations.each do |customization|
    %tr.trstripe
      %td= link_to customization.name, [@customizable, customization]
      %td= customization.location
      %td= customization.value
      %td= customization.prompt_on_deploy
      %td= customization.customizable_id
      %td= customization.customizable_type
      %td#btntbltd{:colspan => "2"}
        = link_to 'Edit', [:edit, @customizable, customization], :class => "button"
        = link_to 'Destroy', [@customizable, customization], :confirm => 'Are you sure?', :method => :delete, :class => "button"
      
