= simple_form_for [:authorize, :admin, @security_group] do |form|
  %table{:width => "400"}
    -if @security_group.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@security_group.errors.count, "error")} prohibited this #{RdsSecurityGroup.name.titleize} from being saved:"
        %ul
          - @security_group.errors.full_messages.each do |msg|
            %li= msg  
    %tr
      %td= form.input :ec2name, :label => "EC2 Nam", :label_html => { :class => 'label_class' }
    %tr
      %td= form.input :ec2owner, :label => "EC2 Owner", :label_html => { :class => 'label_class' }

    %tr
      %td.tblshowbold
        .actions
          = form.button :submit, "Authorize New EC2 Security Group"
