%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to('Back', "javascript:history.go(-1)", :class => "button") 
        = link_to 'New Security Group', [:new, :admin, :rds, :security_group], :class => "button" 


%fieldset.fieldset/

%legend.legend Customizations Listing

%table#tblmain
  %tr.trbg
    %td.fontbold Name
    %td.fontbold Description
    %td.fontbold EC2 Security Groups
    %td.fontbold IP Ranges
    %td.fontbold Owner Id
	  
  - @security_groups.each do |security_group|
    %tr.trstripe
      %td= link_to security_group.name, [:admin, security_group]
      %td= security_group.description
      %td
        %table#tblnested
          %tr.trbgnested
            %td.nestedbold Security Group Name
            %td.nestedbold Status
            %td.nestedbold Security Group Owner ID
          - security_group.ec2_security_groups.each do |ec2sec|
            %tr.trstripenest
              %td= ec2sec.EC2SecurityGroupName
              %td= ec2sec.Status
              %td= ec2sec.EC2SecurityGroupOwnerId
      %td
        %table
          - security_group.ip_ranges.each do |iprange|
            %tr
              %td= iprange.CIDRIP
              %td= iprange.Status
      %td= security_group.owner_id