= link_to 'New Stack', [:new, :stack]
\|
= link_to 'Deploy', new_stacks_deployment_path
%p

%h1 Listing Stacks 

%table
  %tr
    %th App Name
    %th Backends
    %th permits

  = @frontends.size
  - @frontends.each do |frontend|
    %tr
      %td
        %table
          %tr
            %td= frontend.name
          %tr
            %td= render(:partial => 'add_dependency', :locals => {:app_id => frontend.id })
      %td
        %table
          - frontend.dependencies.with_backends.each do |dependency|
            %tr
              %td
                = dependency.backend.name
                = link_to 'delete', stack_path(dependency), :confirm => 'Are you sure?', :method => :delete
              %td
                %table
                  - dependency.permits.each do |permit|
                    %tr
                      %td= permit.security_group
                      %td= permit.port
                      %td= link_to 'delete', stack_permit_path(dependency,permit), :confirm => 'Are you sure?', :method => :delete
              %td= render(:partial => 'add_permit', :locals => { :dependency => dependency  })
              
            

%br

