= simple_form_for [:admin, @server] do |form|
  %table
    -if @server.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@server.errors.count, "error")} prohibited this #{Database.name.titleize} from being saved:"
        %ul
          - @server.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td= form.input :name, :label => "Name",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :engine, :input_html => { :value => 'mysql' }, :disabled => true, :label => "Engine",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :engine_version, :input_html => { :value => '5.5.12' }, :label => "Engine Version",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :db_name, :label => "Db Name",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :master_username, :label => "Username",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :password, :label => "Password",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :allocated_storage, :label => "Instance Storage",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :multi_az, :as => :radio, :label => "Multi Az",  :label_html => { :class => 'label_class_checkbox' }
    %tr.trstripeshow
      %td= form.input :availability_zone, :collection => %w{ us-east-1a us-east-1b us-east-1c us-east-1d }, :label => "Availability Zone",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :flavor_id, :priority => [ "db.m1.small" ], :collection => %w{ db.m1.small db.m1.large db.m1.xlarge db.m2.xlarge db.m2.2xlarge db.m2.4xlarge }, :label => "Instance Class",  :label_html => { :class => 'label_class' }
    
    %tr.trstripeshow
      %td.tblshowbold
        .actions
          = form.button :submit
