= simple_form_for [:admin, @server] do |form|
  %table
    -if @server.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@server.errors.count, "error")} prohibited this #{Database.name.titleize} from being saved:"
        %ul
          - @server.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td.tblshowbold Name
      %td= form.input :name, :label => false
    %tr.trstripeshow
      %td.tblshowbold Engine
      %td= form.input :engine, :input_html => { :value => 'mysql' }, :disabled => true, :label => false
    %tr.trstripeshow
      %td.tblshowbold Engine Version
      %td= form.input :engine_version, :input_html => { :value => '5.5.12' }, :label => false
    %tr.trstripeshow
      %td.tblshowbold Db Name
      %td= form.input :db_name, :label => false
    %tr.trstripeshow
      %td.tblshowbold Username
      %td= form.input :master_username, :label => false
    %tr.trstripeshow
      %td.tblshowbold Password
      %td= form.input :password, :label => false
    %tr.trstripeshow
      %td.tblshowbold Instance Storage
      %td= form.input :allocated_storage, :label => false
    %tr.trstripeshow
      %td.tblshowbold Multi Az
      %td= form.input :multi_az, :as => :radio, :label => false
    %tr.trstripeshow
      %td.tblshowbold Availability Zone
      %td= form.input :availability_zone, :collection => %w{ us-east-1a us-east-1b us-east-1c us-east-1d }, :label => false
    %tr.trstripeshow
      %td.tblshowbold Instance Class
      %td= form.input :flavor_id, :priority => [ "db.m1.small" ], :collection => %w{ db.m1.small db.m1.large db.m1.xlarge db.m2.xlarge db.m2.2xlarge db.m2.4xlarge }, :label => false
    
    %tr.trstripeshow
      %td.tblshowbold{:colspan => "2"}
        .actions
          = form.button :submit
