%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to('Back', "javascript:history.go(-1)", :class => "button") 
        = link_to 'New RDS instance', [:new, :admin, :rds_server], :class => "button" 


%fieldset.fieldset/

%legend.legend RDS Instances Listing

%table#tblmain
  %tr.trbg
    %td.fontbold Name
    %td.fontbold Db Name
    %td.fontbold Username
    %td.fontbold Type
    %td.fontbold Instance Class
    %td.fontbold Size
    %td.fontbold Multi Az
    %td.fontbold Availability Zone
    %td.fontbold Engine Version    
    %td.fontbold{:colspan => "2"} Is it in AGI?
 
 
  - @bgcolor = "#ccc"
  - @servers.each do |database|
  
    %tr.trstripe
      %td= link_to database.name, [:admin, database]
      %td= database.state
      %td= database.db_name
      %td= database.master_username
      %td= database.engine
      %td= database.flavor_id
      %td= database.allocated_storage
      %td= database.multi_az
      %td= database.availability_zone
      %td= database.engine_version
      %td= link_to_if find_database_in_agi(database.name), find_database_in_agi(database.name) ? "Agi Conf" : "NO", find_database_in_agi(database.name)
