= simple_form_for @customer do |form|
  %table
    -if @customer.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this #{Customer.name.titleize} from being saved:"
        %ul
          - @customer.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td= form.input :name, :label => "Name",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :name_tag, :label => "Name Tag",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td.tblshowbold
        .actions
          = form.button :submit
