= simple_form_for @customer do |form|
  %table
    -if @customer.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this #{Customer.name.titleize} from being saved:"
        %ul
          - @customer.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td.tblshowbold * Name
      %td= form.input :name, :label => false
    %tr.trstripeshow
      %td.tblshowbold * Name Tag
      %td= form.input :name_tag, :label => false
    %tr.trstripeshow
      %td.tblshowbold{:colspan => "2"}
        .actions
          = form.button :submit
