= simple_form_for @project do |form|
  %table
    -if @project.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@project.errors.count, "error")} prohibited this #{Project.name.titleize} from being saved:"
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td= form.input :name, :label => "Name", :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :name_tag, :label => "Name Tag", :label_html => { :class => 'label_class' }
    -#%tr.trstripeshow
      -#%td= form.input :homepage, :label => "Homepage", :label_html => { :class => 'label_class' }
    -#%tr.trstripeshow
      -#%td= form.input :description, :label => "Description", :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :repository, :label => "Repository",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :repo_private_key, :label => "Repo Private Key",  :label_html => { :class => 'label_class' }
    %tr.trstripeshow
      %td= form.input :platform, :label => "Platform", :collection => %w{ rails ctms jasper }, :label_html => { :class => 'label_class' } 
    %tr.trstripeshow
      %td.tblshowbold
        .actions
          = form.button :submit
