= simple_form_for @app do |form|
  %table
    -if @app.errors.any?
      %tr
        %td
        #errorExplanation  
        %h2= "#{pluralize(@app.errors.count, "error")} prohibited this #{App.name.titleize} from being saved:"
        %ul
          - @app.errors.full_messages.each do |msg|
            %li= msg  
      
    %tr.trstripeshow
      %td.tblshowbold Description
      %td= form.input :description, :label => false
    %tr.trstripeshow
      %td.tblshowbold Customer
      %td= form.association :customer, :label => false, :prompt => "Choose a Customer"
    %tr.trstripeshow
      %td.tblshowbold Project
      %td= form.association :project, :label => false, :prompt => "Choose a Project"
    %tr.trstripeshow
      %td.tblshowbold Choose A Chef Account
      %td= form.association :chef_account, :label => false, :prompt => "Choose a Chef Account"
    %tr.trstripeshow
      %td{:colspan => "2"}
        %div{:style=>"font-weight:bold; padding-bottom:5px"} Database Selection (please choose only one of the following options)
        %table{:width => "600", :padding=>"4", :cellspacing =>"1"}
          %tr
            %td.tdstripes 
              %div Select Existing Database
              %div= form.association :database, :label => false, :prompt => "Choose a Database"
            %td.tdstripes 
              %div Check to Create New Database
              %div= form.input :auto_generate_database, :label => false
            %td.tdstripes 
              %div Or create a new DB from a snapshot
              %div= form.input :snapshot_id, :label => false, :as => :string

    %tr.trstripeshow
      %td.tblshowbold EC2 Security Group to Authorize in RDS
      %td= form.input :ec2_sg_to_authorize, :collection => @ec2_sg_filtered, :label => false
    %tr.trstripeshow
      %td.tblshowbold Stage Name
      %td= form.input :stage_name, :label => false
    %tr.trstripeshow
      %td.tblshowbold Deploy User
      %td= form.input :deploy_user, :label => false, :hint => " (Only change this if you know what you are doing)"
    %tr.trstripeshow
      %td.tblshowbold Deploy Group
      %td= form.input :deploy_group, :label => false, :hint => " (Only change this if you know what you are doing)"
    %tr.trstripeshow
      %td.tblshowbold Multi Tenant
      %td= form.input :multi_tenant, :label => false
    %tr.trstripeshow
      %td.tblshowbold Uses Bundler
      %td= form.input :uses_bundler, :label => false
    %tr.trstripeshow
      %td.tblshowbold Alert Emails (optional: this would send emails to chosen address for failure alerts)
      %td= form.input :alert_emails, :label => false
    %tr.trstripeshow
      %td.tblshowbold Url
      %td= form.input :url, :label => false
    %tr.trstripeshow
      %td.tblshowbold Git Branch
      %td= form.input :git_branch, :label => false
    %tr.trstripeshow
      %td.tblshowbold Git Revision
      %td= form.input :git_revision, :label => false
    %tr.trstripeshow
      %td.tblshowbold Rails Env
      %td= form.input :rails_env, :label => false, :collection => %w{ production development }
  
    %tr.trstripeshow
      %td.tblshowbold{:colspan => "2"}
        .actions
          = form.button :submit
