= simple_form_for @app do |form|

  -if @app.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@app.errors.count, "error")} prohibited this #{App.name.titleize} from being saved:"
      %ul
        - @app.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :description, :label => 'Description'
  = form.association :customer, :label => 'Customer', :prompt => "Choose a Customer"
  = form.association :project, :label => 'Project', :prompt => "Choose a Project"
  = form.association :chef_account, :label => 'Chef Account', :prompt => "Choose a Chef Account"
  = form.association :database, :Label => 'Database', :prompt => "Choose a Database"
  = form.input :auto_generate_database, :label => "Create a new DB"
  = form.input :ec2_sg_to_authorize, :collection => @ec2_sg_filtered, :label => 'EC2 Security Group to Authorize in RDS'
  = form.input :stage_name, :label => 'Stage Name', :collection => %w{cruise hendrix distro sandbox validation performance innovate production}
  = form.input :multi_tenant, :label => 'Multi Tenant'
  = form.input :uses_bundler, :label => 'Uses Bundler'
  = form.input :domain, :label => 'Hostname'
  = form.input :git_branch, :label => 'Git Branch'
  = form.input :git_revision, :label => 'Git Revision'
  = form.input :rails_env, :label => 'Application Env(rail,rack,…)', :collection => %w{ production development }
  = form.collection_check_boxes :addon_ids, Addon.all, :id, :name
  


  .actions
    = form.button :submit