%h1 Listing apps

%table
  %tr
    %th Name
    %th Stage name
    %th Url
    %th Chef Account
    %th Database
    %th Customer
    %th Project
    %th Git revision
    %th
    %th

  - @apps.each do |app|
    %tr
      %td= link_to app.name, app
      %td= app.stage_name
      %td= app.url
      %td= link_to_if app.chef_account_name, app.chef_account_name, app.chef_account
      %td= link_to_if app.database, app.database.try(:name), app.database 
      %td= link_to_if app.customer_name, app.customer_name, app.customer
      %td= link_to_if app.project_name, app.project_name, app.project
      %td= app.git_revision
%br

= link_to 'New App', new_app_path
