%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to('Back', "javascript:history.go(-1)", :class => "button") 
        = link_to 'New App', new_app_path, :class => "button"

%fieldset.fieldset/

%legend.legend Apps Listing

%table#tblmain
  %tr.trbg
    %td.fontbold Name
    %td.fontbold Stage Name
    %td.fontbold Url
    %td.fontbold Chef Account
    %td.fontbold Database
    %td.fontbold Customer
    %td.fontbold Project
    %td.fontbold Git revision
    

  - @apps.each do |app|
  
    %tr.trstripe
      %td= link_to app.name, app
      %td= app.stage_name
      %td= app.url
      %td= link_to_if app.chef_account_name, app.chef_account_name, app.chef_account
      %td= link_to_if app.database, app.database.try(:name), app.database 
      %td= link_to_if app.customer_name, app.customer_name, app.customer
      %td= link_to_if app.project_name, app.project_name, app.project
      %td= app.git_revision


