
%p
  %b Name:
  = @app.name
%p
  %b Description:
  = @app.description
%p
  %b Stage name:
  = @app.stage_name
%p
  %b Customer name:
  = link_to @app.customer_name, @app.customer
%p
  %b Project name:
  = link_to @app.project_name, @app.project
%p
  %b Database Name:
  = link_to_if @app.database_name, @app.database_name, @app.database
%p
  %b Deploy to:
  = @app.deploy_to
%p
  %b Deploy user:
  = @app.deploy_user
%p
  %b Deploy group:
  = @app.deploy_group
%p
  %b Multi tenant:
  = @app.multi_tenant
%p
  %b Uses bundler:
  = @app.uses_bundler
%p
  %b Alert emails:
  = @app.alert_emails
%p
  %b Url:
  = @app.url
%p
  %b Git revision:
  = @app.git_revision
%p
  %b Rails env:
  = @app.rails_env
 
%p
  %b Cache cluster link:
  = @app.cache_cluster_link
%p
  %b Infrastructure link:
  = @app.infrastructure_link
%p
  %b Newrelic account link:
  = @app.newrelic_account_link
%p
  %b Updated at:
  = @app.updated_at
%p
  %b Deployment timestamp:
  = @app.databag_item_timestamp



#deployment_status= @deployment_status 

= link_to 'Deploy', new_app_deployment_path(@app)

= link_to 'Edit', edit_app_path(@app)
\|
= link_to 'Destroy', @app, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', apps_path
