= simple_form_for @database do |form|

  -if @database.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@database.errors.count, "error")} prohibited this #{Database.name.titleize} from being saved:"
      %ul
        - @database.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :name, :label => 'Name'
  = form.input :db_name, :label => 'Db Name'
  = form.input :username, :label => 'Username'
  = form.input :client_cert, :label => 'Client Cert'
  = form.input :db_type, :collection => %w{ mysql }, :label => 'Type'
  = form.input :instance_class, :collection => %w{ db.m1.small db.m1.large db.m1.xlarge db.m2.xlarge db.m2.2xlarge db.m2.4xlarge }, :label => 'Instance Class'
  = form.input :instance_storage, :label => 'Instance Storage'
  = form.input :multi_az, :label => 'Multi Az'
  = form.input :availability_zone, :collection => %w{ us-east-1a us-east-1b us-east-1c us-east-1d }, :label => 'Availability Zone'
  = form.input :engine_version, :input_html => { :value => '5.5.12' }, :label => 'Engine Version'

  .actions
    = form.button :submit