= simple_form_for @database do |form|

  -if @database.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@database.errors.count, "error")} prohibited this #{Database.name.titleize} from being saved:"
      %ul
        - @database.errors.full_messages.each do |msg|
          %li= msg  

  = form.input :id, :label => 'Name'
  = form.input :engine, :label => 'Engine'
  = form.input :db_name, :label => 'Db Name'
  = form.input :master_username, :label => 'Username'
  = form.input :password, :label => 'Password'
  = form.input :allocated_storage, :label => 'Instance Storage'
  = form.input :multi_az, :label => 'Multi Az'
  = form.input :availability_zone, :label => 'Availability Zone'
  = form.input :engine_version, :label => 'Engine Version'
  = form.input :flavor_id, :label => 'Instance Class'

  .actions
    = form.button :submit