%h1 Listing databases

%table
  %tr
    %th Name
    %th Db name
    %th Username
    %th Hostname
    %th Client cert
    %th Type
    %th Instance class
    %th Instance storage
    %th Multi az
    %th Availability zone
    %th Engine version
    %th
    %th
    %th

  - @databases.each do |database|
    %tr
      %td= link_to database.name, database
      %td= database.db_name
      %td= database.username
      %td= database.hostname
      %td= database.client_cert
      %td= database.db_type
      %td= database.instance_class
      %td= database.instance_storage
      %td= database.multi_az
      %td= database.availability_zone
      %td= database.engine_version

%br

= link_to 'New Database', new_database_path
