%h1 Listing databases

%table
  %tr
    %th Name
    %th Attached App
    %th State
    %th Db name
    %th Username
    %th Hostname
    %th Instance class
    %th Size
    %th Multi az
    %th Availability zone
    %th Operation
    %th
    %th
    %th

  - @databases.each do |database|
    %tr
      %td= link_to database.name, database
      %td= link_to_if database.app, database.app.try(:name) || "none", database.app
      %td= database.state || 'N/A'
      %td= database.db_name
      %td= database.username
      %td= database.hostname
      %td= database.instance_class
      %td= database.instance_storage
      %td= database.multi_az
      %td= database.availability_zone
      %td= link_to_unless database.started, 'Start', start_database_path(database) 
      %td= link_to_if database.started, 'Stop', stop_database_path(database)


%br

= link_to 'New Database Configuration', new_database_path