%div#maindiv
  %table.tblbtn
    %tr
      %td#btntbltd
        = link_to 'Show', @database, :class => "button" 
        = link_to 'Back', databases_path, :class => "button"

%fieldset.fieldset/

%legend.legend Edit Database Configuration

= simple_form_for @database do |form|
  %table#tblform
    -if @database.errors.any?
      %tr
        %td
        #errorExplanation
        %h2= "#{pluralize(@database.errors.count, "error")} prohibited this #{Database.name.titleize} from being saved or started:"
        %ul
          - @database.errors.full_messages.each do |msg|
            %li= msg  
    %tr.trstripeshow
      %td.tblshowbold * Name
      %td= form.input :name, :label => false
    - unless @database.snapshot_id.blank?
      %tr.trstripeshow
        %td.tblshowbold Snapshot ID
        %td= form.input :snapshot_id, :label => false
    
    %tr.trstripeshow
      %td.tblshowbold DB Name
      %td= form.input :db_name, :label => false
    %tr.trstripeshow
      %td.tblshowbold Username
      %td= form.input :username, :label => false
    %tr.trstripeshow
      %td.tblshowbold Client Cert
      %td= form.input :client_cert, :label => false
    %tr.trstripeshow
      %td.tblshowbold Type
      %td= form.input :db_type, :input_html => { :value => 'mysql' }, :label => false
    %tr.trstripeshow
      %td.tblshowbold Instance Class
      %td= form.input :instance_class, :collection => %w{ db.m1.small db.m1.large db.m1.xlarge db.m2.xlarge db.m2.2xlarge db.m2.4xlarge }, :label => false
    %tr.trstripeshow
      %td.tblshowbold Instance Storage
      %td= form.input :instance_storage, :label => false
    %tr.trstripeshow
      %td.tblshowbold Multi Az
      %td= form.input :multi_az, :label => false
    %tr.trstripeshow
      %td.tblshowbold Availability Zone
      %td= form.input :availability_zone, :collection => %w{ us-east-1a us-east-1b us-east-1c us-east-1d }, :label => false
    %tr.trstripeshow
      %td.tblshowbold Engine Version
      %td= form.input :engine_version, :input_html => { :value => '5.5.12' }, :label => false

     
    %tr.trstripeshow
      %td.tblshowbold{:colspan => "2"}
        .actions
          = form.button :submit

