%h1 Listing deployments

%table
  %tr
    %th User link
    %th Git repo
    %th Git commit
    %th Description
    %th Force Deploy
    %th Send email
    %th Task
    %th Run migrations
    %th Migration command
    %th Result log
    %th App
    %th Started at
    %th Completed at
    %th
    %th
    %th

  - @deployments.each do |deployment|
    %tr
      %td= deployment.user_link
      %td= deployment.git_repo
      %td= deployment.git_commit
      %td= deployment.description
      %td= deployment.force_deploy
      %td= deployment.send_email
      %td= deployment.task
      %td= deployment.run_migrations
      %td= deployment.migration_command
      %td= deployment.result_log
      %td= deployment.app_id
      %td= deployment.started_at
      %td= deployment.completed_at
      %td= link_to 'Show', [@app,deployment]

%br
